@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
// viewport size
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

//Color Palette
$base: #fbfbf6;
$lightBlue: rgb(20, 178, 242);
$darkBlue: #001452;
$grey: rgb(102, 102, 102);
$lightGrey: #f1f1f1;
$pink: #F2A69C;
